.Task {
  padding: 20px;
  display: flex;
  align-items: center;
  border: black 1px solid;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 315px;

  .input {
    color: black;
  }

  button {
    gap: 5px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
  }

  button:active {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  button:focus {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  .rightSide {
    display: flex;
    gap: 4px;
  }

  .leftSide {
    display: flex;
    gap: 4px;
  }
}

.Childs {
  margin-left: 20px;
}

.icon_active {
  transform: rotate(90deg);
}
